# Práctica 0
## Uso de texto en Python

In [1]:
texto = "Este es un texto 'normal' en Python, cambiado"

### Ejercicio 1
Crea una lista con el nombre `lista` que contenga las palabras de la cadena `texto` y cuénta el nº de palabras que tiene la lista.  
*Nota: considera que las palabras están separadas por el caracter espacio `' '`*

In [17]:
lista = texto.split(' ')
len(lista)

7

### Ejercicio 2
¿Qué palabras de `texto` empiezan en mayúscula?

In [12]:
[c for c in lista if c.istitle()]

['Este', 'Python']

### Ejercicio 3
Convierte en mayúsculas las palabras de `texto` que tienen una longitud mayor que tres.

In [11]:
' '.join([c.upper() if len(c)>3 else c for c in lista])

"ESTE es un TEXTO 'NORMAL' en PYTHON"

### Ejercicio 4
Crea una cadena que contenga *sólo* con las palabras de `texto` terminadas en `n`, separadas por **coma**, y convertidas en mayúsculas *sólo* si tienen una longitud mayor que tres

In [20]:
lista[0].upper()

'ESTE'

In [22]:
[c for c in lista if c.endswith('n')]

['un', 'en', 'Python']

In [21]:
#podemos combinar con funciones sobre str
','.join([c.upper() if len(c)>3 else c for c in lista if c.endswith('n')])

'un,en,PYTHON'

### Ejercicio 5
Enumera las palabras de la cadena `texto` e indica para cada una su longitud

In [28]:
enum = enumerate(lista)
print(list(enum))

[(0, 'Este'), (1, 'es'), (2, 'un'), (3, 'texto'), (4, "'normal'"), (5, 'en'), (6, 'Python')]

In [14]:
#el texto es un elemento iterable
for (i,t) in enumerate(lista):
    print(f'Palabra {i}: {len(t)} caracteres')

Palabra 0: 4 caracteres
Palabra 1: 2 caracteres
Palabra 2: 2 caracteres
Palabra 3: 5 caracteres
Palabra 4: 8 caracteres
Palabra 5: 2 caracteres
Palabra 6: 6 caracteres

## Uso de texto en Pandas

In [30]:
import pandas as pd
import numpy as np
pd.__version__

'1.5.3'

### Ejercicio 6
Convierte la lista de *strings* anterior a un objeto `Series` de Pandas de tipo `dtype=string` con el nombre `serie`.

In [32]:
serie = pd.Series(lista, dtype="string")
serie

0        Este
1          es
2          un
3       texto
4    'normal'
5          en
6      Python
dtype: string

### Ejercicio 7
Convierte los elementos de `serie` a mayúsculas.

In [33]:
serie.str.upper()

0        ESTE
1          ES
2          UN
3       TEXTO
4    'NORMAL'
5          EN
6      PYTHON
dtype: string

### Ejercicio 8
Cuenta el número de apariciones del carácter 'e' (o 'E') en cada elemento.  
*Nota*: Convierte todo el texto a mayúscula y utiliza el  método `count()` sobre el atributo `str` del objeto Series

In [34]:
serie.str.upper().str.count("E")

0    2
1    1
2    0
3    1
4    0
5    1
6    0
dtype: Int64

### Ejercicio 9
Crea un `DataFrame` de Pandas con los elementos originales de tu serie y dos columnas con:  
- Elementos que contienen la letra 'e' (case insensitive)
- Elementos que comienzan por la letra 'E' (sólo mayúsculas)

In [47]:
pd.concat([serie, serie.str.contains("e", case=False), serie.str.match("E")], axis=1)

          0      1      2
0       Ess   True   True
1        es   True  False
2        un  False  False
3     texto   True  False
4  'normal'  False  False
5        en   True  False
6    Python  False  False

### Ejercicio 10
¿cuántos elementos contienen al menos un carácter 'n'?  
*Nota*: recuerda que las Series de tipo booleano se pueden sumar con `sum()`

In [49]:
serie.str.contains("n")

0    False
1    False
2     True
3    False
4     True
5     True
6     True
dtype: boolean

In [48]:
serie.str.contains("n").sum()

4

## Generator comprenhension y List comprenhension
### Ejercicio 11
Crea un generador llamado `gen` que recorra la lista de texto anterior y devuelva cada vez una tupla con la siguiente palabra y su longitud.

In [50]:
gen = ((w, len(w)) for w in lista)
gen

Comprueba que funciona correctamente:

In [36]:
for i in gen:
    print(i)

('Este', 4)
('es', 2)
('un', 2)
('texto', 5)
("'normal'", 8)
('en', 2)
('Python', 6)

### Ejercicio 12
Repite el ejercicio 11 enumerando sólo las palabras terminadas en 'n'

In [37]:
for i in ((w, len(w)) for w in lista if w.endswith('n')):
    print(i)

('un', 2)
('en', 2)
('Python', 6)